body {
    margin: 0;
    background-color: #DCDCDC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
    display: none !important;
}

.sideNavBar {
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: black;
    transition: 0.3s;
}

.sideNavBarHidden {
    width: 60px !important;
    transition: 0.3s;
}

.sideNavBarHidden svg {
    margin-left: 5px;
}

.sideNavBarHidden h2 {
    visibility: hidden !important;
    transition: opacity 0.01s, visibility 0.01s;
}

.sideNavBarHidden .sideNavCompanyName {
    visibility: hidden !important;
    transition: opacity 0.01s, visibility 0.01s;
}

.sideNavHeader {
    font-size: x-large;
    margin: 20px 15px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-start;
}

.sideNavHeader div {
    margin-left: 10px;
}

.sideNavBody {
    justify-content: center;
    padding: 15px 10px 5px 5px;
}

.sideNavItem {
    margin-bottom: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}

.sideNavItemSelected {
    border-radius: 15px;
    color: black;
    background: lightgray;
    padding-top: 10px;
}

.sideNavItem div {
    width: 50px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
}

.sideNavItem h2 {
    font-size: 20px;
    margin: 0px;
    opacity: 1;
    visibility: visible;
}

.sideNavCompanyName {
    opacity: 1;
    visibility: visible;
}

.sideNavItem svg {
    font-size: x-large;
    margin-right: 10px;
    margin-left: 5px;
}

.topNavBar {
    top: 0;
    width: 100%;
    margin-left: 200px;
    height: 60px;
    position: fixed;
    background-color: white;
    z-index: 999999999999999;
    transition: 0.5s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.topNavOpen {
    margin-left: 60px !important;
}

.topNavHeader {
    color: white;
    height: 60px;
    align-items: center;
    font-size: 24px;
    display: flex;
    flex-direction: row;
}

.topNavHeader svg {
    font-size: xx-large;
    padding: 20px 20px 20px 20px;
    color: lightgray;
}

.topNavDivider {
    border-right: 2px solid lightgray;
    height: 100%;
}

.topNavSiteName {
    padding: 10px;
    color: black;
}

.mainContainer {
    margin-left: 200px;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
}

.mainContainerHidden {
    margin-left: 60px !important;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bigContainer {
    margin: 10px;
    border-radius: 15px;
    width: 65%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.smallContainer {
    margin: 10px;
    border-radius: 15px;
    width: 35%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.containerHeader {
    border-radius: 15px;
    height: 8%;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.containerHeader div {
    margin-left: 15px;
}

.containerBody {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.dashCalContainer {
    z-index: 100;
    height: 100%;
    margin: 10px;
}

.fc-toolbar {
    margin-bottom: 5px !important;
}

.dashRosterTable {
    margin: 10px;
    height: 100%;
}

.dashRosterRow {
    width: 100%;
    height: 35px;
    border-bottom: 1px solid #DCDCDC;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashRosterHead {
    border-bottom: 1px solid #DCDCDC;
    background-color: #E8E8E8;
}

.dashRosterHead div {
    font-weight: bold;
}

.dashRosterRow div:first-of-type {
    margin-left: 5px;
}

.dashRosterRow div {
    height: 100%;
    width: 25%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
}

.msgTeamBox {
    display: flex;
    flex-direction: column;
    height: 100% !important;
    margin: 10px;
}

.msgTeamBox .inputLarge textarea {
    height: 350px;
    width: 90%;
}

.msgTeamBox .inputSmall {
    width: 90%;
}

.msgTeamBox .inputHelper {
    display: none;
}

.msgTeamFooter {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.quickEvent {
    margin: 10px;
}

.quickEventHeader {
    margin-bottom: 10px;
}

.quickEventBody h4 {
    margin: 0px;
}

.quickEventInput {
    width: 98%;
    height: 16px;
    resize: none;
    margin-top: 5px;
}

.quickEventInputDesc {
    height: 150px !important;
}

.quickEventFooter {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

.quickEventBody .input {
    width: 92%;
}

.quickEventBody .inputHelper {
    display: none;
}

.mr15 {
    margin-right: 15px;
}

.ssButton {
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 125px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgba(208, 208, 208, 0.75);
    cursor: pointer;
}

.ssButton:hover {
    background-color: darkgray;
}

.ssButton svg {
    padding: 1px 10px 0px 0px;
}

.topNavHeader svg,
.sideNavItem
{
    cursor: pointer;
}

.cursorPointer {
    cursor: pointer;
}

.ssToast {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 300px;
    height: 70px;
    z-index: 999999999999;
    background-color: #E8E8E8;
    display: flex;
    flex-direction: row;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        right: -300px;
    }

    to {
        right: 25px;
    }
}

.ssToast div:first-of-type {
    height: 100%;
    width: 2%;
    height: 60px;
    margin-top: 5px
}

.ssToast .green {
    background-color: lightgreen;
}

.ssToast .red {
    background-color: red;
}

.toastName {
    width: 93%;
    padding: 10px;
    text-align: left;
}

.toastExit {
    padding: 5px;
}