body {
    margin: 0;
}

.hidden {
    display: none !important;
}

.sideNavBar {
    left: 0;
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: black;
}

.sideBarHidden {
    width: 35px !important;
}

.sideNavHeader {
    margin: 10px;
    display: flex;
    flex-direction: row;
    color: white;
    height: 50px;
    align-items: center;
}

.sideNavHeader h2 {
    margin-left: 20px;
}

.sideNavBody {
    padding: 5px;
}

.sideNavItem {
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
}

.sideNavItem h3 {
    margin: 0px;
}

.sideNavItem svg {
    margin-right: 5px;
}

.mainContainer {
    margin-left: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bigContainer {
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    width: 70%;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.smallContainer {
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    width: 30%;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.containerHeader {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 15px;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerHeader div {
    margin-left: 10px;
}

.containerBody {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.containerBody .upcomingRow:first-of-type {
    border-top: 0;
}

.dashCalContainer {
    z-index: 100;
    height: 100%;
    margin: 10px;
}

.fc-toolbar {
    margin-bottom: 5px !important;
}

.upcomingRow {
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.msgTeamBox {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.msgTeamText {
    height: 75%;
    resize: none;
    margin: 10px;
}

.msgTeamFooter {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 25px;
}

.quickEvent {
    margin: 10px;
}

.quickEventHeader {
    margin-bottom: 10px;
}

.quickEventBody h4 {
    margin: 0px;
}

.quickEventInput {
    width: 98%;
    height: 16px;
    resize: none;
    margin-top: 5px;
}

.quickEventInputDesc {
    height: 150px !important;
}

.quickEventFooter {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.mr15 {
    margin-right: 15px;
}