body {
    margin: 0;
    background-color: #DCDCDC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hidden {
    display: none !important;
}

.sideNavBar {
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: black;
    transition: 0.3s;
}

.sideNavBarHidden {
    width: 60px !important;
    transition: 0.3s;
}

.sideNavBarHidden h2 {
    visibility: hidden;
}

.sideNavBarHidden .sideNavCompanyName {
    visibility: hidden;
}

.sideNavHeader {
    font-size: x-large;
    margin: 20px 15px;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-start;
}

.sideNavHeader div {
    margin-left: 10px;
}

.sideNavBody {
    justify-content: center;
    padding: 15px 5px 5px 10px;
}

.sideNavItem {
    margin-bottom: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sideNavItem div {
    width: 50px;
    height: 30px;
    margin-right: 10px;
    text-align: center;
}

.sideNavItem h2 {
    font-size: 20px;
    margin: 0px;
}

.sideNavItem svg {
    font-size: x-large;
    margin-right: 10px;
}

.topNavBar {
    top: 0;
    width: 100%;
    margin-left: 200px;
    height: 60px;
    position: fixed;
    background-color: white;
    z-index: 999999999999999;
    transition: 0.3s;
}

.topNavOpen {
    margin-left: 60px !important;
}

.topNavHeader {
    color: white;
    height: 60px;
    align-items: center;
    font-size: 24px;
    display: flex;
    flex-direction: row;
}

.topNavHeader svg {
    font-size: xx-large;
    padding: 20px 20px 20px 20px;
    color: lightgray;
}

.topNavDivider {
    border-right: 2px solid lightgray;
    height: 100%;
}

.topNavSiteName {
    padding: 10px;
    color: black;
}

.mainContainer {
    margin-left: 200px;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
}

.mainContainerHidden {
    margin-left: 60px !important;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.bigContainer {
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.smallContainer {
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
    width: 30%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.containerHeader {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 15px;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerHeader div {
    margin-left: 10px;
}

.containerBody {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.containerBody .dashRosterRow:first-of-type {
    border-top: 0;
}

.dashCalContainer {
    z-index: 100;
    height: 100%;
    margin: 10px;
}

.fc-toolbar {
    margin-bottom: 5px !important;
}

.dashRosterRow {
    width: 100%;
    height: 50px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dashRosterHead div {
    font-weight: bold;
}

.dashRosterRow div:first-of-type {
    margin-left: 5px;
}

.dashRosterRow div {
    width: 25%;
}

.msgTeamBox {
    display: flex;
    flex-direction: column;
    height: 100% !important;
}

.msgTeamBox .inputLarge textarea {
    height: 350px;
    width: 95%;
}

.msgTeamFooter {
    margin-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 25px;
}

.quickEvent {
    margin: 10px;
}

.quickEventHeader {
    margin-bottom: 10px;
}

.quickEventBody h4 {
    margin: 0px;
}

.quickEventInput {
    width: 98%;
    height: 16px;
    resize: none;
    margin-top: 5px;
}

.quickEventInputDesc {
    height: 150px !important;
}

.quickEventFooter {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

.quickEventBody .input {
    width: 95%;
}

.quickEventBody .inputHelper {
    display: none;
}

.mr15 {
    margin-right: 15px;
}