.input {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.inputSmall {
    width: 40%;
    margin-right: 10%;
}

.inputLarge {
    width: 100%;
}

.inputHeading {
    text-align: left;
    margin-bottom: 5px;
}

.inputContent {
    text-align: left;
}

.inputHelper {
    text-align: left;
    font-size: 12px;
}

.shortTextInput {
    resize: none;
    height: 16px;
    width: 100%;
}

.longTextInput {
    resize: none;
    width: 100%;
    height: 150px;
}

.selectInput {
    margin-bottom: 3px;
    width: 100%;
}

.datetimeInput {
    width: 100%;
    margin-bottom: 3px;
}