.roster {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
}

.rosterHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.rosterHeader .ssButton {
    height: 20px;
}

.rosterHeader .inputSmall {
    margin-right: 50px;
}

.rosterTable {
    margin: 10px;
    width: 98%;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.rosterTableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDC;
    background-color: #E8E8E8;
}

.rosterTableHeader .tableCell {
    font-size: 16px;
    font-weight: bold;
}

.rosterTableRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #DCDCDC;
    cursor: pointer;
}

.tableCell {
    width: 100%;
    height: 35px;
    text-align: left;
    line-height: 35px;
    font-size: 14px;
    margin-left: 10px;
}

.createMemberFooter {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.createMemberFooter button {
    margin-right: 10px;
}

@media screen and (max-width: 1200px) {
    .rosterHide {
        display: none;
    }
}