.schedule {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 10px;
}

.scheduleHeader {
    margin: 10px;
}

.createEventFooter {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: left;
}

.createEventFooter button {
    margin-right: 10px;
}

.schedule .popupContainer {
    width: 815px;
}

.hideBtn {
    display: none;
}