.sideNavBar {
    left: 0;
    height: 100%;
    width: 225px;
    position: fixed;
    background-color: black;
}

.sideNavHeader {
    display: flex;
    flex-direction: row;
    color: white;
}

.sideNavBody {

}